<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niveales.testskis"
    android:versionCode="104"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application >
    </application>

</manifest>